.vid {
    background: #242323;
}

@media(max-width: 610px) {
    .vid{
        width: 75vw !important;
    }

    #video_container_left{
        height: 25vh !important;
    }

    #video_container_right{
        height: 25vh !important;
    }

    .alert{
        width: 100vw !important;
    }
}

.alert{
    position: fixed !important;
    bottom: -100px;
    margin: 0px auto;
    left: 0;
    transition: 1s;
}

video{
    background: black;
}

#video_container_right {
    position: fixed;
    bottom: -300px;
    right: 50px;
    height: 35vh;
    width: 30vw;
    transition: 1s;
}

#video_container_left {
    position: fixed;
    bottom: -300px;
    left: 50px;
    height: 35vh;
    width: 30vw;
    transition: 1s;
}

#screen_right {
    width: 100%;
    height: 80%;
}

#screen_left {
    width: 100%;
    height: 80%;
}

.hide {
    display: none;
}

.vid_base {
    background: lightblue;
}